<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
    This context file provides the necessary configuration for Unit Testing the
    Standalone Hibernate DAO class.
-->
<beans>

    <bean
        id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <bean class="org.springframework.core.io.ClassPathResource">
                <constructor-arg type="java.lang.String"><value>unit_test.properties</value></constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
        <property name="url"><value>${db.url}</value></property>
        <property name="username"><value>${db.user.name}</value></property>
        <property name="password"><value>${db.password}</value></property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingDirectoryLocations">
            <list>
                <bean class="org.springframework.core.io.ClassPathResource">
                    <constructor-arg type="java.lang.String"><value>org/rti/webgenome/service/dao/hibernate</value></constructor-arg>
                </bean>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
            </props>
        </property>
    </bean>
    
    <bean id="processingJobDao" class="org.rti.webgenome.standalone.dao.hibernate.ProcessingJobDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

</beans>