<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd">

<beans>

	<!-- ======================================================= -->
	<!--   Import configurable values from 'webcgh.properties'   -->
	<!-- ======================================================= -->
	
	<bean
		id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<bean class="org.springframework.core.io.ClassPathResource">
				<constructor-arg type="java.lang.String"><value>conf/webcgh.properties</value></constructor-arg>
			</bean>
		</property>
	</bean>


	<!-- ====================================================== -->
	<!--                 Embedded database                      -->
	<!-- ====================================================== -->
	
	<bean
		id="dataSource"
		class="org.apache.derby.jdbc.EmbeddedConnectionPoolDataSource">
		<property name="databaseName"><value>${db.home}/${cloudscape.dir}/${db.name}</value></property>
		<property name="user"><value>${db.user.name}</value></property>
		<property name="password"><value>${db.password}</value></property>
	</bean>
	
	<bean
		id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="mappingDirectoryLocations">
	      	<list>
        		<bean class="org.springframework.core.io.ClassPathResource">
        			<constructor-arg type="java.lang.String"><value>org/rti/webcgh/array/persistent/impl</value></constructor-arg>
        		</bean>
	      	</list>
    	</property>
    	<property name="hibernateProperties">
      		<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
      		</props>
    	</property>
  	</bean>
  	
  	<bean id="hibernatePersistor" class="org.rti.webcgh.array.persistent.impl.HibernatePersistor">
  		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  	</bean>
  	
  	<bean id="jdbcPersistor" class="org.rti.webcgh.array.persistent.impl.JdbcPersistor">
  		<property name="dataSource"><ref bean="dataSource"/></property>
  	</bean>
  	
  	<bean id="persistentDomainObjectMgr" 
  		class="org.rti.webcgh.array.persistent.impl.HibernatePersistentDomainObjectMgr">
  		<property name="hibernatePersistor">
  			<ref bean="hibernatePersistor"/>
  		</property>
  		<property name="jdbcPersistor">
  			<ref bean="jdbcPersistor"/>
  		</property>
  	</bean>
	
	
	<!-- ===================================================== -->
	<!--         Beans for obtaining array data                -->
	<!-- ===================================================== -->
	
	<bean
		id="clientDataService"
		class="org.rti.webcgh.service.ClientDataServiceImpl">
		<property name="localClientEjbAccess">
			<value>${local.client.ejb.access}</value>
		</property>
		<property name="jndiName">
			<value>${jndi.name}</value>
		</property>
		<property name="factory">
			<ref bean="domainObjectFactory"/>
		</property>
	</bean>
	
	<bean
		id="domainObjectFactory"
		class="org.rti.webcgh.service.DomainObjectFactory"/>
	
	<bean
		id="authenticator"
		class="org.rti.webcgh.service.PermissiveAuthenticator"/>
		
	<bean 
		id="excelDb"
		class="org.rti.webcgh.service.WebcghFileArrayDataSource">
		<property name="dataDir"><value>${db.home}/${data.file.dir}</value></property>
		<property name="dbName"><value>Excel</value></property>
		<property name="arrayDatumFileReader">
			<bean class="org.rti.webcgh.service.ArrayDatumDelimitedFileReader"/>
		</property>
	</bean>
	
	<bean 
		id="virtualExperimentArrayDataSource"
		class="org.rti.webcgh.service.VirtualExperimentArrayDataSource">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean
		id="webcghArrayDataSourceSet"
		class="org.rti.webcgh.service.WebcghArrayDataSourceSet">
		<property name="databases">
			<map>
				<entry key="Excel"><ref bean="excelDb"/></entry>
				<entry key="Virtual"><ref bean="virtualExperimentArrayDataSource"/></entry>
			</map>
		</property>
	</bean>
	
	
	<!-- ====================================================== -->
	<!--           Plotting beans                               -->
	<!-- ====================================================== -->
	
	<bean
		id="plotGenerator"
		class="org.rti.webcgh.graph.PlotGenerator">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	
	<!-- =============================================================== -->
	<!--                       ETL beans                                 -->
	<!-- =============================================================== -->
	
	<bean
		id="esiEtlManager"
		class="org.rti.webcgh.etl.EsiEtlManager">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
		<property name="dbName"><value>SKY/M-FISH&amp;CGH</value></property>
	</bean>
	
	<bean
		id="cytobandEtlManager"
		class="org.rti.webcgh.etl.CytobandEtlManager">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean
		id="annotationEtlManager"
		class="org.rti.webcgh.etl.AnnotationEtlManager">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean
		id="arrayEtlManager"
		class="org.rti.webcgh.etl.ArrayEtlManager">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean
		id="reporterMappingStagingArea"
		class="org.rti.webcgh.array.ReporterMappingStagingArea"
		singleton="false">
		<property name="webcghArrayDataSourceSet">
			<ref bean="webcghArrayDataSourceSet"/>
		</property>
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>

	
	<!-- ================================================================== -->
	<!--               Analytic operation beans                             -->
	<!-- ================================================================== -->
	
	<bean
		id="averageOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.AverageOperation"/>
		
	<bean
		id="linearRegressionNormalizationOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.LinearRegressionNormalizationOperation"/>
		
	<bean
		id="nonLinearRegressionNormalizationOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.NonLinearRegressionNormalizationOperation"/>
		
	<bean
		id="rangeFilterOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.RangeFilterOperation"/>
		
	<bean
		id="simpleNormalizationArrayOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.SimpleNormalizationArrayOperation"/>
		
	<bean
		id="simpleNormalizationExperimentOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.SimpleNormalizationExperimentOperation"/>
		
	<bean
		id="smoothOperation"
		singleton="false"
		class="org.rti.webcgh.analytic.SmoothOperation"/>
		
	<!-- ================================================================ -->
	<!--        UI display properties for analytic operations             -->
	<!-- ================================================================ -->
		
	<bean
		id="analyticOperationUIHelper"
		class="org.rti.webcgh.webui.util.AnalyticOperationUIHelper">
		<property name="analyticOperationDisplayProperties">
			<list>
			
				<!-- Average operation -->
				<bean
					id="averageOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.AverageOperation</value></property>
					<property name="beanName"><value>averageOperation</value></property>
					<property name="displayName"><value>Average within group</value></property>
				</bean>
				
				<!-- Linear regression operation -->
				<bean
					id="linearRegressionNormalizationOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.LinearRegressionNormalizationOperation</value></property>
					<property name="beanName"><value>linearRegressionNormalizationOperation</value></property>
					<property name="displayName"><value>Linear regression</value></property>
				</bean>
				
				<!-- Non-linear regression operation -->
				<bean
					id="nonLinearRegressionNormalizationOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.NonLinearRegressionNormalizationOperation</value></property>
					<property name="beanName"><value>nonLinearRegressionNormalizationOperation</value></property>
					<property name="displayName"><value>Local regression</value></property>
					<property name="parameterDisplayProperties">
						<list>
						
							<!-- Percentage parameter -->
							<bean
								id="percentageDisplayProperties"
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>percentage</value></property>
								<property name="displayName"><value>Percentage window size</value></property>
							</bean>
						</list>
					</property>
				</bean>
				
				<!-- Range filter operation -->
				<bean
					id="rangeFilterOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.RangeFilterOperation</value></property>
					<property name="beanName"><value>rangeFilterOperation</value></property>
					<property name="displayName"><value>Filter within range</value></property>
					<property name="parameterDisplayProperties">
						<list>
						
							<!-- Lower threshold parameter -->
							<bean
								id="lowerThreshParamDisplayProperties"
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>lowerThresh</value></property>
								<property name="displayName"><value>Lower threshold</value></property>
							</bean>
							
							<!-- Upper threshold parameter -->
							<bean
								id="upperThreshParamDisplayProperties"
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>upperThresh</value></property>
								<property name="displayName"><value>Upper threshold</value></property>
							</bean>
						</list>
					</property>
				</bean>
				
				<!-- Simple array-based normalization operation -->
				<bean
					id="simpleNormalizationArrayOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.SimpleNormalizationArrayOperation</value></property>
					<property name="beanName"><value>simpleNormalizationArrayOperation</value></property>
					<property name="displayName"><value>Simple array-based normalization</value></property>
					<property name="parameterDisplayProperties">
						<list>
						
							<!-- Basic operation parameter -->
							<bean
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>operation</value></property>
								<property name="displayName"><value>Basic operation</value></property>
								<property name="optionalValueProperties">
									<list>
									
										<!-- Average function parameter value -->
										<bean
											class="org.rti.webcgh.webui.util.AnalyticOperationParameterValueDisplayProperties">
											<property name="displayName"><value>Average</value></property>
											<property name="value"><value>org.rti.webcgh.analytic.AverageFunction</value></property>
											<property name="bean"><value>true</value></property>
										</bean>
										
										<!-- Median function parameter value -->
										<bean
											class="org.rti.webcgh.webui.util.AnalyticOperationParameterValueDisplayProperties">
											<property name="displayName"><value>Median</value></property>
											<property name="value"><value>org.rti.webcgh.analytic.MedianFunction</value></property>
											<property name="bean"><value>true</value></property>
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				
				<!-- Simple experiment-based normalization operation -->
				<bean
					id="simpleNormalizationExperimentOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.SimpleNormalizationExperimentOperation</value></property>
					<property name="beanName"><value>simpleNormalizationExperimentOperation</value></property>
					<property name="displayName"><value>Simple experiment-based normalization</value></property>
					<property name="parameterDisplayProperties">
						<list>
						
							<!-- Basic operation parameter -->
							<bean
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>operation</value></property>
								<property name="displayName"><value>Basic operation</value></property>
								<property name="optionalValueProperties">
									<list>
									
										<!-- Average function parameter value -->
										<bean
											class="org.rti.webcgh.webui.util.AnalyticOperationParameterValueDisplayProperties">
											<property name="displayName"><value>Average</value></property>
											<property name="value"><value>org.rti.webcgh.analytic.AverageFunction</value></property>
											<property name="bean"><value>true</value></property>
										</bean>
										
										<!-- Median function parameter value -->
										<bean
											class="org.rti.webcgh.webui.util.AnalyticOperationParameterValueDisplayProperties">
											<property name="displayName"><value>Median</value></property>
											<property name="value"><value>org.rti.webcgh.analytic.MedianFunction</value></property>
											<property name="bean"><value>true</value></property>
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				
				<!-- Smoothing operation -->
				<bean
					id="smoothOperationDisplayProperties"
					class="org.rti.webcgh.webui.util.AnalyticOperationDisplayProperties">
					<property name="className"><value>org.rti.webcgh.analytic.SmoothOperation</value></property>
					<property name="beanName"><value>smoothOperation</value></property>
					<property name="displayName"><value>Simple smoothing</value></property>
					<property name="parameterDisplayProperties">
						<list>
						
							<!-- Window parameter -->
							<bean
								id="windowParamDisplayProperties"
								class="org.rti.webcgh.webui.util.AnalyticOperationParameterDisplayProperties">
								<property name="parameterName"><value>window</value></property>
								<property name="displayName"><value>Sliding window size</value></property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	
	<!-- =========================================== -->
	<!--         Shopping cart actions               -->
	<!-- =========================================== -->
	
	<bean name="/cart/contents"
		class="org.rti.webcgh.webui.cart.ContentsSetupAction"/>
		
	<bean name="/cart/removeExperiments"
		class="org.rti.webcgh.webui.cart.RemoveExperimentsAction"/>
		
	<bean name="/cart/selectExperiments"
		class="org.rti.webcgh.webui.cart.SelectExperimentsSetupAction">
		<property name="webcghArrayDataSourceSet">
			<ref bean="webcghArrayDataSourceSet"/>
		</property>
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/cart/recordSelectedExperiments"
		class="org.rti.webcgh.webui.cart.RecordSelectedExperimentsAction">
		<property name="reporterMappingStagingArea">
			<ref bean="reporterMappingStagingArea"/>
		</property>
	</bean>
	
	<bean name="/cart/selectExperimentTypes"
		class="org.rti.webcgh.webui.cart.SelectExperimentTypeSetupAction"/>
		
	<bean name="/cart/recordSelectedExperimentTypes"
		class="org.rti.webcgh.webui.cart.RecordSelectedExperimentTypesAction"/>
		
	<bean name="/cart/selectArrays"
		class="org.rti.webcgh.webui.cart.SelectArraysSetupAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/cart/recordArrays"
		class="org.rti.webcgh.webui.cart.RecordSelectedArraysAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/cart/selectAssembly"
		class="org.rti.webcgh.webui.cart.SelectAssemblySetupAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/cart/mapProbes"
		class="org.rti.webcgh.webui.cart.MapProbesAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<!-- =========================================== -->
	<!--         Plotting actions                    -->
	<!-- =========================================== -->
	
	<bean name="/plot/params"
		class="org.rti.webcgh.webui.plot.PlotParamsSetupAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/plot/setup"
		class="org.rti.webcgh.webui.plot.PlotSetupAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
		<property name="clientDataService">
			<ref bean="clientDataService"/>
		</property>	
	</bean>
	
	<bean name="/plot/svg"
		class="org.rti.webcgh.webui.plot.PlotAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
		<property name="plotGenerator">
			<ref bean="plotGenerator"/>
		</property>
	</bean>
	
	<!-- =========================================== -->
	<!--         User profile actions                -->
	<!-- =========================================== -->
	
	<bean name="/profile/login"
		class="org.rti.webcgh.webui.profile.LoginAction">
		<property name="authenticator">
			<ref bean="authenticator"/>
		</property>
	</bean>
	
	<bean name="/profile/logout"
		class="org.rti.webcgh.webui.profile.LogoutAction"/>
		
	<!-- =========================================== -->
	<!--         Client application actions          -->
	<!-- =========================================== -->
	
	<bean name="/client/plot"
		class="org.rti.webcgh.webui.client.action.ClientPlotAction">
		<property name="clientDataService">
			<ref bean="clientDataService"/>
		</property>	
	</bean>
	
	<!-- =========================================== -->
	<!--         Virtual experiment actions          -->
	<!-- =========================================== -->
	
	<bean name="/virtual/list"
		class="org.rti.webcgh.webui.virtual.GetVirtualExperimentsAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
	
	<bean name="/virtual/selectExperiments"
		class="org.rti.webcgh.webui.virtual.SelectExperimentsSetupAction">
		<property name="webcghArrayDataSourceSet">
			<ref bean="webcghArrayDataSourceSet"/>
		</property>
	</bean>
	
	<bean name="/virtual/selectBioAssays"
		class="org.rti.webcgh.webui.virtual.SelectBioassaysSetupAction">
		<property name="webcghArrayDataSourceSet">
			<ref bean="webcghArrayDataSourceSet"/>
		</property>
	</bean>
	
	<bean name="/virtual/save"
		class="org.rti.webcgh.webui.virtual.CreateVirtualExperimentAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
		<property name="webcghArrayDataSourceSet">
			<ref bean="webcghArrayDataSourceSet"/>
		</property>
	</bean>
	
	<bean name="/virtual/delete"
		class="org.rti.webcgh.webui.virtual.DeleteVirtualExperimentAction">
		<property name="persistentDomainObjectMgr">
			<ref bean="persistentDomainObjectMgr"/>
		</property>
	</bean>
		
</beans>