body {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/ui-body-tile.gif');
}
p {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
div {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
span {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
input {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
select {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
textarea {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
dl {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.menu {
	padding: 6px;
	font-size: 10px;
	color: #dadada;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.menuItem:link {
	font-size: 10px;
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;

	border: 0px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}
a.menuItem:visited {
	font-size: 10px;
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;

	border: 0px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}
a.menuItem:hover {
	font-size: 10px;
	color: #777777;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;

	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;

	border: 1px;
	border-style: solid;
	border-color: #aaaaaa;
	background-color: #dee2f5;
}
a.menuItem:active {
	font-size: 10px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;

	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;

	border: 1px;
	border-style: solid;
	border-color: #dee2f5;
	background-color: #ced2e5;
}

.footer {
	font-size: 10px;
	color: #aaaaaa;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.content {
	padding: 5px;
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link
{
    color: #336699;
    text-decoration: underline;
    padding-left: 2px;
    padding-right: 2px;
}
a:visited
{
    color: #336699;
    text-decoration: underline;
    padding-left: 2px;
    padding-right: 2px;
}
a:hover
{
    color: #5588bb;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;

	border: 1px;
	border-style: solid;
	border-color: #aaaaaa;
	background-color: #ffffff;
}
a:active
{
    color: #225588;
    text-decoration: blink;
    padding-left: 1px;
    padding-right: 1px;

	border: 1px;
	border-style: solid;
	border-color: #cccccc;
	background-color: #f8f9fd;
}

h1 {
	font-size: 15px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	padding: 2px;

	height: 25px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dee2f5;
}
h2 {
	font-size: 12px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	padding: 1px;

	height: 13px;
}
h3 {
	font-size: 11px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	padding: 1px;

	height: 12px;
}
h4 {
	font-size: 11px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	padding: 1px;

	height: 12px;
}
.h1icon {
	font-size: 15px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	background-image: url('images/h1-bullet.gif');
	background-position: top left;
	background-repeat: no-repeat;

	padding-left: 21px;
	padding-top: 2px;
	padding-bottom: 2px;

	height: 25px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dee2f5;
}
.h2icon {
	font-size: 12px;
	color: #7273ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;

	background-image: url('images/h2-bullet.gif');
	background-position: top left;
	background-repeat: no-repeat;

	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 0px;

	height: 13px;
}


th {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.table {
	border-width: 0px 0px 0px 0px;
	border-spacing: 3px 3px;
	border-style: none none none none;
	border-color: #777777 #777777 #777777 #777777;
	border-collapse: separate;
}
table.table th {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-style: solid solid solid solid;
	border-color: #777777 #777777 #777777 #777777;
	background-color: #ffffff;
}
table.table td {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-style: solid solid solid solid;
	border-color: #bbbbbb #bbbbbb #bbbbbb #bbbbbb;
}

table.noBorder {
	border-width: 0px 0px 0px 0px;
	border-spacing: 3px 3px;
	border-style: none none none none;
	border-color: #777777 #777777 #777777 #777777;
	border-collapse: separate;
}
table.noBorder th {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-style: solid solid solid solid;
	border-color: #777777 #777777 #777777 #777777;
	background-color: #ffffff;
}
table.noBorder td {
	border-width: 0px 0px 0px 0px;
	padding: 4px 4px 4px 4px;
	border-style: none none none none;
	border-color: #bbbbbb #bbbbbb #bbbbbb #bbbbbb;
}

table.layout {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	border-style: none none none none;
}
table.layout th {
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
}
table.layout td {
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
}

ul {
	list-style-image: url('images/li-bullet-green.gif');
	list-style-position: outside;
	margin-top: 8px;
	margin-bottom: 8px;
}
li {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.contentItem
{
	background-color: #ffffff;
	background-image: url('images/item-bg.gif');
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: c0c1d6;
	padding: 20;
}

.exceptionItem
{
	background-color: #ffffff;
	background-image: url('images/item-error-bg.gif');
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: c0c1d6;
	padding: 20;
}

.tip {
	font: 10px/12px Arial,Helvetica,sans-serif;
	border: solid 1px #666666;
	padding: 1px;
	position: absolute;
	z-index: 1;
	visibility: hidden;
	color: #333333;
	top: 20px;
	left: 90px;
	background-color: #ffffcc;
}

.cellOver {
    background-color: #e7e8fa;
}
.cellOut {
    background-color: transparent;
}

.invisible
{
    display: none;
}

.visible
{
    display: inline;
}

.pointer {
	cursor: pointer;
}