<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright RTI International

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/webgenome/LICENSE.txt for details.
L-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd">

<beans>

	<!-- ======================================================= -->
	<!--   Import configurable values from 'webcgh.properties'   -->
	<!-- ======================================================= -->
	
	<bean
		id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
            <!-- PROPERTY LOADING FROM INTERNAL PROPERTIES FILE
                 Uncomment to use the internal properties file
                 and comment out the external properties declaration immediately below.
			<bean class="org.springframework.core.io.ClassPathResource">
				<constructor-arg type="java.lang.String">
					<value>conf/webcgh.properties</value>
				</constructor-arg>
			</bean>
            -->
            <!-- PROPERTY LOADING FROM EXTERNALIZED PROPERTIES FILE -->
            <bean class="org.rti.webcgh.framework.spring.SysPropsFileSystemResource">
                <constructor-arg type="java.lang.String">
                <value>webGenome.configFile</value>
                </constructor-arg>
            </bean>
		</property>
	</bean>

	<!-- =========================================== -->
	<!--      Data access beans                      -->
	<!-- =========================================== -->
	
<!-- Data source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
		<property name="url"><value>${db.url}</value></property>
		<property name="username"><value>${db.user.name}</value></property>
		<property name="password"><value>${db.password}</value></property>
	</bean>
	
<!-- Session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	
    	<!-- =============================================================== -->
    	<!--   Mapping file directory locations.  Disabled for 3.0 release.  -->
    	<!-- =============================================================== -->
    	<!--
    	<property name="mappingDirectoryLocations">
	      	<list>
        		<bean class="org.springframework.core.io.ClassPathResource">
        			<constructor-arg type="java.lang.String"><value>org/rti/webcgh/service/dao/hibernate</value></constructor-arg>
        		</bean>
                <bean class="org.springframework.core.io.ClassPathResource">
                    <constructor-arg type="java.lang.String"><value>org/rti/webcgh/standalone/dao/hibernate</value></constructor-arg>
                </bean>
	      	</list>
    	</property>
    	-->
    	<!-- =============================================================== -->
    	
    	<!-- =============== Mapping files for 3.0 release ================= -->
    	<property name="mappingResources">
    		<list>
    			<value>org/rti/webcgh/service/dao/hibernate/Principal.hbm.xml</value>
    			<value>org/rti/webcgh/service/dao/hibernate/Organism.hbm.xml</value>
    			<value>org/rti/webcgh/service/dao/hibernate/CytologicalMap.hbm.xml</value>
    			<value>org/rti/webcgh/service/dao/hibernate/Cytoband.hbm.xml</value>
    		</list>
    	</property>
    	
    	<property name="hibernateProperties">
      		<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
      		</props>
    	</property>
  	</bean>
  	
<!-- Principal DAO -->
  	<bean id="principalDao" class="org.rti.webcgh.service.dao.hibernate.HibernatePrincipalDao">
  		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  	</bean>
  	
<!-- Shopping cart DAO -->
  	<bean id="shoppingCartDao"
  		class="org.rti.webcgh.service.dao.hibernate.HibernateShoppingCartDao">
  		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  	</bean>
    
<!-- Processing Job DAO (Standalone Mode) -->
    <bean id="processingJobDao"
        class="org.rti.webcgh.standalone.dao.hibernate.ProcessingJobDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
    
<!-- Organism DAO -->
    <bean id="organismDao"
    	class="org.rti.webcgh.service.dao.hibernate.HibernateOrganismDao">
  		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  	</bean>

<!-- Cytological map DAO -->
	<bean id="cytologicalMapDao"
		class="org.rti.webcgh.service.dao.hibernate.HibernateCytologicalMapDao">
  		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  	</bean>
  	
  	<!-- =================================== -->
  	<!--      Service beans                  -->
  	<!-- =================================== -->

<!-- Security manager -->
	<bean id="securityMgr" class="org.rti.webcgh.service.mgr.SecurityMgrImpl">
		<property name="principalDao"><ref bean="principalDao"/></property>
	</bean>
		
<!-- In-memory chromosome array data getter -->
	<bean id="inMemoryChromosomeArrayDataGetter"
		class="org.rti.webcgh.service.util.InMemoryChromosomeArrayDataGetter"/>
		
<!-- ID generator for bioassays not persisted and, hence, not given
	 IDs by the DAO tier. -->
	<bean id="bioAssayIdGenerator"
		class="org.rti.webcgh.service.util.IdGenerator"/>
		
<!-- ID generator for experiments not persisted and, hence, not given
	 IDs by the DAO tier. -->
	<bean id="experimentIdGenerator"
		class="org.rti.webcgh.service.util.IdGenerator"/>
		
<!-- Image file manager -->
	<bean id="imageFileManager"
		class="org.rti.webcgh.service.io.ImageFileManager">
		<property name="shoppingCartDao">
			<ref bean="shoppingCartDao"/>
		</property>
	</bean>
		
<!-- Plot generator -->
	<bean id="plotGenerator"
		class="org.rti.webcgh.service.plot.PngPlotGenerator">
		<property name="imageFileManager">
			<ref bean="imageFileManager"/>
		</property>
		<property name="cytologicalMapDao">
			<ref bean="cytologicalMapDao"/>
		</property>
	</bean>
	
	<!-- ========================================== -->
	<!--        Action beans                        -->
	<!-- ========================================== -->
	
<!-- Validate login -->
	<bean name="/user/validateLogin"
		class="org.rti.webcgh.webui.struts.user.LoginAction">
		<property name="securityMgr"><ref bean="securityMgr"/></property>
	</bean>
	
<!-- Logout -->
	<bean name="/user/logout"
		class="org.rti.webcgh.webui.struts.user.LogoutAction"/>
	
<!-- Create new account -->
	<bean name="/user/createAccount"
		class="org.rti.webcgh.webui.struts.user.CreateAccountAction">
		<property name="securityMgr"><ref bean="securityMgr"/></property>
	</bean>

<!-- Show shopping cart -->
	<bean name="/cart/showCart"
		class="org.rti.webcgh.webui.struts.cart.ShowCartSetupAction"/>
		
<!-- Route to operation page -->
	<bean name="/cart/routeToOperationPage"
		class="org.rti.webcgh.webui.struts.cart.RouteToOperationPageAction"/>
		
<!-- Get quantitation types -->
	<bean name="/cart/selectImportDataType"
		class="org.rti.webcgh.webui.struts.cart.GetQuantitationTypesAction"/>
		
<!-- Import data from client -->
	<bean name="/cart/import"
		class="org.rti.webcgh.webui.struts.cart.ImportAction">
		<property name="organismDao">
			<ref bean="organismDao"/>
		</property>
		<property name="experimentIdGenerator">
			<ref bean="experimentIdGenerator"/>
		</property>
		<property name="bioAssayIdGenerator">
			<ref bean="bioAssayIdGenerator"/>
		</property>
	</bean>
		
<!-- Route to specific plot parameters page -->
	<bean name="/cart/routeToPlotParametersPage"
		class="org.rti.webcgh.webui.struts.cart.RouteToPlotParametersPageAction"/>
		
<!-- Select analytic operation -->
	<bean name="/cart/selectAnalysis"
		class="org.rti.webcgh.webui.struts.cart.SelectAnalysisSetupAction"/>
		
<!-- Set analytic operation parameters -->
	<bean name="/cart/analysisParams"
		class="org.rti.webcgh.webui.struts.cart.AnalysisParamsSetupAction"/>
		
<!-- Perform analytic operation -->
	<bean name="/cart/analysis"
		class="org.rti.webcgh.webui.struts.cart.AnalysisAction">
		<property name="bioAssayIdGenerator">
			<ref bean="bioAssayIdGenerator"/>
		</property>
		<property name="experimentIdGenerator">
			<ref bean="experimentIdGenerator"/>
		</property>
	</bean>
		
<!-- Remove experiment from cart -->
	<bean name="/cart/removeExperiment"
		class="org.rti.webcgh.webui.struts.cart.RemoveExperimentAction"/>
		
<!-- Remove plot from cart -->
	<bean name="/cart/removePlot"
		class="org.rti.webcgh.webui.struts.cart.RemovePlotAction">
		<property name="imageFileManager">
			<ref bean="imageFileManager"/>
		</property>
	</bean>
	
<!-- Color chooser -->
	<bean name="/cart/colorChooser"
		class="org.rti.webcgh.webui.struts.cart.ColorChooserSetupAction"/>
		
<!-- Change bioassay color -->
	<bean name="/cart/changeBioAssayColor"
		class="org.rti.webcgh.webui.struts.cart.ChangeBioAssayColorAction"/>
		
<!-- Change name of experiment, bioassay, or plot -->
	<bean name="/cart/nameChange"
		class="org.rti.webcgh.webui.struts.cart.NameChangeAction"/>
		
<!-- Client plot: entry point for application client -->
	<bean name="/client/plot"
		class="org.rti.webcgh.webui.struts.client.ClientPlotAction">
		<property name="imageFileManager">
			<ref bean="imageFileManager"/>
		</property>
		<property name="bioAssayIdGenerator">
			<ref bean="bioAssayIdGenerator"/>
		</property>
		<property name="experimentIdGenerator">
			<ref bean="experimentIdGenerator"/>
		</property>
		<property name="organismDao">
			<ref bean="organismDao"/>
		</property>
	</bean>
    
<!-- Client plot: test Plot action -->
    <bean name="/client/testPlot"
        class="org.rti.webcgh.webui.struts.client.ClientPlotAction">
        <property name="imageFileManager">
            <ref bean="imageFileManager"/>
        </property>
        <property name="bioAssayIdGenerator">
            <ref bean="bioAssayIdGenerator"/>
        </property>
        <property name="experimentIdGenerator">
            <ref bean="experimentIdGenerator"/>
        </property>
        <property name="organismDao">
            <ref bean="organismDao"/>
        </property>
    </bean>

	
<!-- New plot -->
	<bean name="/cart/newPlot"
		class="org.rti.webcgh.webui.struts.cart.NewPlotAction">
		<property name="plotGenerator">
			<ref bean="plotGenerator"/>
		</property>
		<property name="chromosomeArrayDataGetter">
			<ref bean="inMemoryChromosomeArrayDataGetter"/>
		</property>
	</bean>

<!-- Show plot -->
	<bean name="/cart/showPlot"
		class="org.rti.webcgh.webui.struts.cart.ShowPlotSetupAction"/>
		
<!-- View/change plot parameters -->
	<bean name="/cart/changeParameters"
		class="org.rti.webcgh.webui.struts.cart.SetPlotParametersAction"/>
		
<!-- Load cytobands form -->
	<bean name="/admin/loadCytobandsForm"
		class="org.rti.webcgh.webui.struts.admin.LoadCytobandsFormSetupAction">
		<property name="organismDao">
			<ref bean="organismDao"/>
		</property>
		<property name="cytologicalMapDao">
			<ref bean="cytologicalMapDao"/>
		</property>
	</bean>
		
<!-- Load cytobands -->
	<bean name="/admin/loadCytobands"
		class="org.rti.webcgh.webui.struts.admin.LoadCytobandsAction">
		<property name="organismDao">
			<ref bean="organismDao"/>
		</property>
		<property name="cytologicalMapDao">
			<ref bean="cytologicalMapDao"/>
		</property>
	</bean>
	
<!-- Delete cytobands -->
	<bean name="/admin/deleteCytobands"
		class="org.rti.webcgh.webui.struts.admin.DeleteCytobandsAction">
		<property name="organismDao">
			<ref bean="organismDao"/>
		</property>
		<property name="cytologicalMapDao">
			<ref bean="cytologicalMapDao"/>
		</property>
	</bean>
</beans>