BODY
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
P
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


.documentationHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #336699;
}

.documentationBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #020202;
}

.logo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336699;
}

.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6e5387;
}

A.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #6e5387;
	text-decoration: none;
}

A.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

A.submenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #6e5387;
	text-decoration: none;
}

A.submenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

A.submenu-selected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #6e5387;
	text-decoration: underline;
}

A.submenu-selected:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

A.plot-submenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: navy;
	text-decoration: none;
}

A.plot-submenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.plot-submenu-selected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: navy;
	text-decoration: underline;
}

.required-param {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: red;
	text-decoration: none;
}

.optional-param {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: orange;
	text-decoration: none;
}

.ignored-param {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: blue;
	text-decoration: none;
}

td.folderTab {
	background-color: silver;
}

td.folderTab-selected {
	background-color: #eeeedd;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #63674E;
}

.category {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: navy;
}

.fieldName {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

.fieldValue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: blue;
}

p.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

.tbl {
	border: 1px solid #63674E;
}
.tbl TH {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
}
.tbl TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
}

.tblLite {
	border: 1px solid #e3e7cE;
}
.tblLite TH {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
}
.tblLite TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 5px;
	PADDING-TOP: 5px;
}

.dataHeadTD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BACKGROUND-COLOR: #e9dCFF
}

.contentTD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11pt; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BACKGROUND-COLOR: #FFFFFF
}

.contentTD-odd {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11pt; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; BACKGROUND-COLOR: #e7e7e7
}

.separator {
	background-color: navy;
	height: 2;
}

.parenthetical {
	color: blue;
}

.pointer {
	cursor: pointer;
}

.disabled {
	background-color: silver;
	color: #666666
}

.infoMsg {
  font-size: 12pt;
  font-weight: bold;
  color: #8855dd;
}

.smallInfoMsg {
  font-size: 9pt;
  font-weight: bold;
  color: #8855dd;
}

.largeInfoMsg {
  font-size: 18pt;
  font-weight: bold;
  color: #8855dd;
}

.paragraphHeading {
  font-size: 14pt;
  font-weight: bold;
  color: #8855dd;
}

.opType {
  font-size: 12pt;
  font-weight: bold;
  color: #8855dd;
}


.opCategory {
  font-size: 12pt;
  font-weight: bold;
  color: blue;
}
  
.exceptionMsg {
  color: red;
}

.statusMsg {
  color: red;
  font-weight: bold;
}

.red {
	color:red;
	font-weight: bold;
	font-size: 12pt;
}


.contentItem
{
    background-image: url(images/item-bg.gif);
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: c0c1d6;
    padding: 20;
}

.navigationItem
{
    BACKGROUND-COLOR: #fafafa;
    border-style: solid;
    border-width: 1px;
    border-color: c0c1d6;
    padding: 3;
}



table.data {
	border-width: 0px 0px 0px 0px;
	border-spacing: 3px 3px;
	border-style: none none none none;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-collapse: separate;
}
table.data th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: #999999 #999999 #999999 #999999;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.data td {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.dataInner {
	border-width: 0px 0px 0px 0px;
	border-spacing: 3px 3px;
	border-style: none none none none;
	border-collapse: separate;
}
table.dataInner th {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: none none none none;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.dataInner td {
	border-width: 1px 1px 1px 1px;
	padding: 5px 5px 5px 5px;
	border-style: none none none none;
	-moz-border-radius: 0px 0px 0px 0px;
}

.actionLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
